#window
  h1 #{title}
  h2 #{subtitle}
  
  form(method="post")
  fieldset
    legend General
    p
      label(for="user[name]") #{username}:
        input(type="text", name="user[name]", value=user.name)
    p
      label(for="user[email]") #{email}:
        input(type="text", name="user[email]", value=user.email)
    p
      label(for="user[image]") #{image}:
        input(type="text", name="user[image]", value=user.image)
        .tip
          #{imageTip}
  p.buttons
    input(type="submit", value="#{save}")